@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font: 18px/145% sans-serif;
    letter-spacing: 0.18px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Manrope", sans-serif;
}

#root {
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    &.dark body {
        background-color: var(--color-mist-900);
    }

    &:not(.dark) body {
        background-color: var(--color-mist-500);
    }
}

body {
    margin: 0;
    flex-grow: 1;
    align-self: stretch;
    min-height: 100vh;

    &

    @media (prefers-color-scheme: light) {
        background-color: var(--color-neutral-300);

    }

    &

    @media (prefers-color-scheme: dark) {
        background-color: var(--color-mist-950);

    }

}

@media (prefers-reduced-motion: no-preference) {
    * {
        transition: background-color 0.2s ease;
    }
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

footer {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    @media (width >= 48rem) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .attr-text {
        grid-column: 1 / 2;
        justify-self:  center;
        @media (width >= 48rem) {
            grid-column: 2;
        }
    }

    .icons {
        grid-column: 3;
    }
}

span {
    a {
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}
